<p>Item-list works!</p>

<div><button (click)="getItems()">Get list</button></div>
<mat-form-field>
  <mat-label>Item name</mat-label>
    <input matInput placeholder="Insert item name" [(ngModel)]="itemName">

</mat-form-field>
<div><button (click)="addItem()">Add Item</button></div>


<div *ngIf="items.length">
    <ul>
      <li *ngFor="let item of items">
        {{ item._id }}
        <label>|||</label>
        {{ item.text }}
        <label>|||</label>
        {{ item.userId }}
        <button>edit</button>
        <button>save</button>
        <button (click)="deleteItem(item._id)">delete</button>
      </li>

    </ul>
  </div>
  <div *ngIf="!items.length">
    No items found.
  </div>

